name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}

          script: |
            cd /home/ec2-user

            # Remove old deployment
            rm -rf python-app

            # Clone latest code
            git clone https://github.com/V-RAJESH-123/python-git.git python-app

            cd python-app

            # Install dependencies
            sudo yum update -y
            sudo yum install python3-pip -y
            pip3 install -r requirements.txt

            # Stop old app if running
            pkill -f app.py || true

            # Start application
            nohup python3 app.py > output.log 2>&1 &