- name: Deploy to EC2
  uses: appleboy/ssh-action@v0.1.6
  with:
    host: ${{ secrets.EC2_HOST }}
    username: ec2-user
    key: ${{ secrets.EC2_SSH_KEY }}

    script: |
      cd /home/ec2-user

      # Install required tools
      sudo yum update -y
      sudo yum install git -y
      sudo yum install python3-pip -y

      # Remove old deployment
      rm -rf python-app

      # Clone repository
      git clone https://github.com/V-RAJESH-123/python-git.git python-app

      cd python-app

      # Install dependencies
      pip3 install -r requirements.txt

      # Stop old app if running
      pkill -f app.py || true

      # Start Flask app
      nohup python3 app.py > output.log 2>&1 &